.Button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 0 2rem;
    min-height: 45px;
    outline: none;
    border: none;
    background: none;
    border-radius: var(--b-rad);
    transition: all 0.3s ease-in-out;

    &:hover {
        opacity: 0.7;
    }
}

.clear {
}

.outline {
    border: 1px solid var(--border-color);
    color: var(--primary-color);
}

.solid {
    background: var(--primary-btn-color);
    color: var(--primary-inverted-color);
}

.disabled {
    opacity: 0.5;
}
