.Button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.5rem 2rem;
}

.clear {
    background: none;
    border: none;
    outline: none;
}

.outline {
    background: none;
    border-radius: var(--b-rad);
    border: 1px solid var(--primary-color);
}
