.MenuLink {
    padding: 1rem;
    display: flex;
    text-decoration: none;
    gap: 0.3rem;
    transition: color 0.3s ease-in-out;
    border-radius: var(--b-rad);
    color: var(--primary-color);

    &:hover {
        color: var(--link-btn-text-active);
    }
}

.active {
    background-color: var(--link-btn-bg-active);
    color: var(--link-btn-text-active);
}
