.UiBlock {
    padding: 1rem;
    border-radius: var(--b-rad);
    box-shadow: 0 2px 6px  rgb(37 83 185 / 10%);
    background-color: var(--elements-bg-color);
    display: flex;
}

.grow {
    flex-grow: 1;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}
