.UiBlock {
    padding: 1rem;
    border-radius: var(--b-rad);
    box-shadow: var(--shadow);
    background-color: var(--elements-bg-color);
    display: flex;
    overflow: hidden;
    overflow-y: auto;
}

.grow {
    flex-grow: 1;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.noPadding {
    padding: 0;
}
