.app.dark {
    --bg-color: #212121;
    --elements-bg-color: #444;
    --primary-color: #efefef;
    --primary-inverted-color: #d8d8d8;
    --secondary-color: #dcdcdc;
    --primary-btn-color: #0085db;
    --secondary-btn-color: #c2c2c2;
    --link-btn-bg-active: #0085db;
    --link-btn-text-active: #ececec;
    --border-color: #e6e6e6;
    --shadow: 0 2px 6px  rgb(255 255 255 / 10%);
}
