.app.light {
    --bg-color: #f0f5f9;
    --elements-bg-color: #fff;
    --primary-color: #111c2d;
    --secondary-color: #1f4377;
    --primary-btn-color: #1f87d7;
    --secondary-btn-color: #c2c2c2;
    --nav-link-bg-active: #e5f3fb;
    --nav-link-text-active: #0085db;
}
