.LoginPage {
    margin: 0 auto;
    padding: 2rem;
    max-width: 600px;
}

.pageContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3rem;
}

.authForm {
    display: grid;
    gap: 1rem;
}

.titles {
    margin-bottom: 2rem;

    h1 {
        font: var(--font-l);
        font-weight: var(--fw-bold);
    }

    h2 {
        font: var(--font-m);
    }
}

.tips {
    margin-bottom: 1rem;
}
