.Navbar {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 1rem;
}

.themeSwitcher {
    margin-top: auto;
}

.navbarLogo {
    padding: 1rem;
    margin-bottom: 1rem;
}

.menuItems {
    display: grid;
    gap: 0.5rem;
}
